In [97]:
# Import random
import random
import requests
import pandas as pd
import numpy as np

from string import Template

In [123]:
clients = [{
    "id": 1,
    "name": "Peter",
    "last_name": "Parker",
    "email": "awayfromhome@hero.com"
}, {
    "id": 2,
    "name": "Miles",
    "last_name": "Morales",
    "email": "anotherspider@hero.com"
}, {
    "id": 3,
    "name": "Gwen",
    "last_name": "Stacy",
    "email": "bestone@hero.com"
}]

accounts = [{
    "id": 1,
    "client_id": 1,
    "account_number": 123,
    "balance": 1000
}, 
{
    "id": 2,
    "client_id": 2,
    "account_number": 456,
    "balance": 15000
},
{
    "id": 3,
    "client_id": 2,
    "account_number": 258,
    "balance": 150000
}, 
{
    "id": 4,
    "client_id": 3,
    "account_number": 789,
    "balance": 3000
},
{
    "id": 5,
    "client_id": 3,
    "account_number": 741,
    "balance": 10
},
{
    "id": 6,
    "client_id": 3,
    "account_number": 748,
    "balance": -10
}]

template_transaction = Template(
    """id: $id, account_id: $account_id, type: '$type', status: '$status', amount: $amount, created_at: convertToString(new Date($created_at), locale)""")

In [105]:
ip = "192.168.1.64:8000"
url = f"http://{ip}/api/clients"
# get_client = requests.get(url)

In [106]:
# Createa a string template for client
client_template = Template("'name': $name, 'last_name': $last_name, 'email': $email, 'accounts': $accounts}")

# client_template.safe_substitute({'id':1})
print(template_transaction.safe_substitute({'id': 1, 'account_id': 1, 'type': 'deposit', 'status': 'completed', 'amount': 100, 'created_at': '2021-09-01'}))

id: 1, account_id: 1, type: 'deposit', status: 'completed', amount: 100, created_at: new Date(2021-09-01)

In [101]:
for items in clients:
    print(f"{{value: '{items['id']}', viewValue: '{items['name']+' '+items['last_name']}'}},")

{value: '1', viewValue: 'Peter Parker'},
{value: '2', viewValue: 'Miles Morales'},
{value: '3', viewValue: 'Gwen Stacy'},

In [102]:
df_client = pd.DataFrame(clients)
display(df_client)
df_account = pd.DataFrame(accounts)
df_account

   id   name last_name                   email
0   1  Peter    Parker   awayfromhome@hero.com
1   2  Miles   Morales  anotherspider@hero.com
2   3   Gwen     Stacy        bestone@hero.com

   id  client_id  account_number  balance
0   1          1             123     1000
1   2          2             456    15000
2   3          2             258   150000
3   4          3             789     3000
4   5          3             741       10
5   6          3             748      -10

In [124]:
clients_id_list = [1, 2, 3]
accounts_id_list = [1, 2, 3, 4, 5, 6]
transaction_type = ['debit', 'credit']
transaction_status = ['open', 'processing', 'finalized']

transactions_input = []
for _ in range(3):
    rd_client = random.choice(clients_id_list)
    mask = df_account['client_id'] == rd_client
    rd_account = random.choice(df_account[mask]['id'].tolist())
    random_values = np.random.gumbel(60, 25, 1000)
    for idx, value in enumerate(random_values):
        rd_type = random.choice(transaction_type)
        status = "open"
        rd_date = f"'{random.randint(2023, 2025)}/{random.randint(1, 12):02}/{random.randint(1, 28):02}'"
        
        result_dict = { "id": idx, "account_id": rd_account,
                      "type": rd_type, "status": status,
                      "amount": round(value, 2), "created_at": rd_date}
        
        transactions_input.append(result_dict)

In [125]:
for ii in transactions_input[:20]:
    print(f", {{ {template_transaction.safe_substitute(ii)} }}")

, { id: 0, account_id: 3, type: 'credit', status: 'open', amount: 45.29, created_at: convertToString(new Date('2023/10/03'), locale) }
, { id: 1, account_id: 3, type: 'credit', status: 'open', amount: 92.14, created_at: convertToString(new Date('2023/06/10'), locale) }
, { id: 2, account_id: 3, type: 'credit', status: 'open', amount: 28.74, created_at: convertToString(new Date('2024/04/12'), locale) }
, { id: 3, account_id: 3, type: 'credit', status: 'open', amount: 41.63, created_at: convertToString(new Date('2023/01/16'), locale) }
, { id: 4, account_id: 3, type: 'credit', status: 'open', amount: 48.76, created_at: convertToString(new Date('2023/04/16'), locale) }
, { id: 5, account_id: 3, type: 'credit', status: 'open', amount: 54.02, created_at: convertToString(new Date('2024/01/12'), locale) }
, { id: 6, account_id: 3, type: 'credit', status: 'open', amount: 35.96, created_at: convertToString(new Date('2023/02/05'), locale) }
, { id: 7, account_id: 3, type: 'debit', status: 'open', amount: 122.54, created_at: convertToString(new Date('2024/02/20'), locale) }
, { id: 8, account_id: 3, type: 'debit', status: 'open', amount: 124.54, created_at: convertToString(new Date('2025/05/04'), locale) }
, { id: 9, account_id: 3, type: 'debit', status: 'open', amount: 84.91, created_at: convertToString(new Date('2025/11/05'), locale) }
, { id: 10, account_id: 3, type: 'debit', status: 'open', amount: 49.95, created_at: convertToString(new Date('2024/04/13'), locale) }
, { id: 11, account_id: 3, type: 'debit', status: 'open', amount: 59.81, created_at: convertToString(new Date('2023/01/21'), locale) }
, { id: 12, account_id: 3, type: 'credit', status: 'open', amount: 124.73, created_at: convertToString(new Date('2025/12/14'), locale) }
, { id: 13, account_id: 3, type: 'credit', status: 'open', amount: 51.2, created_at: convertToString(new Date('2023/06/05'), locale) }
, { id: 14, account_id: 3, type: 'debit', status: 'open', amount: 101.14, created_at: convertToString(new Date('2025/06/28'), locale) }
, { id: 15, account_id: 3, type: 'credit', status: 'open', amount: 41.34, created_at: convertToString(new Date('2023/02/19'), locale) }
, { id: 16, account_id: 3, type: 'credit', status: 'open', amount: 32.04, created_at: convertToString(new Date('2023/12/09'), locale) }
, { id: 17, account_id: 3, type: 'debit', status: 'open', amount: 89.68, created_at: convertToString(new Date('2023/09/20'), locale) }
, { id: 18, account_id: 3, type: 'debit', status: 'open', amount: 84.47, created_at: convertToString(new Date('2023/03/28'), locale) }
, { id: 19, account_id: 3, type: 'debit', status: 'open', amount: 91.28, created_at: convertToString(new Date('2025/10/10'), locale) }

1000